# =========================
# SYSTEM
# =========================
.DS_Store
Thumbs.db

# =========================
# ENV
# =========================
.env
*.env

# =========================
# LOGS
# =========================
*.log
logs/
log/
zivpn-monitor.log

# =========================
# XRAY
# =========================
config.json.bak
config.json.save

# certificates
*.crt
*.key
*.pem

# xray databases
*.db

# =========================
# WIREGUARD
# =========================
wg0.conf
clients/


# =========================
# CACHE
# =========================
cache/
tmp/
temp/

# =========================
# BACKUP
# =========================
backup/
*.bak

# =========================
# NODE
# =========================
node_modules/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# EDITOR
# =========================
.vscode/
.idea/

# =========================
# BINARIES
# =========================
*.exe
*.dll
*.so
*.deb

# =========================
# SHELL HISTORY
# =========================
.bash_history
.zsh_history